/* You can add global variables to this file*/

/*colors*/
$dark: #101010;
$dark-gray: rgba(8, 8, 8, 1);
$white: #FFFFFF;
$transparent-white: rgba(255, 255, 255, 0.18);
$transparent-white_saturated: rgba(255, 255, 255, 0.26);
$violet: #1E0143;
$dark-violet: rgba(26, 2, 56, 1);
$orange: rgba(241, 81, 12, 1);


$transition-property: all ease-in-out .4s;