.not-found {
    background-color: $violet;
    color: $white;

    .inner-flex {
        height: 100vh !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}